# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment directory (if using pip)
venv/

# Poetry's virtual environment location (if installed in `.venv` inside the project)
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Miscellaneous
*.log
*.sqlite3
.DS_Store
